<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /wordle/
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /wordle/index.html [L]
</IfModule>