RewriteEngine On
RewriteBase /

# Si la ruta no corresponde a un archivo o directorio existente, redirige a index.html
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index.html [QSA,L]